div {
    border: 1px solid #888;
    border-radius: 5px;
    display: flex;
}

/* img {
    width: 40%;
    min-width: 100%;
}
h3 {
    width: 100%;
    min-width: 100%;
}
h4 {
    width: 100%;
    min-width: 100%;
}
h5 {
    width: 100%;
    min-width: 100%;
} */
