<div class="contenedor">
    <div class="barra-usuario">
        <app-barra-usuario></app-barra-usuario>
    </div>
    <div class="contenedorCarritoPago">
        <div id="contenedorCarrito" class="contenedorCarrito">
            <div style="margin-bottom: 15px;">
                <div class="contenedorLibros2">
                    @for(libroCarrito of librosCarrito; track libroCarrito[0]) {
                        <app-libros-carrito [libro]="libroCarrito"></app-libros-carrito>
                    }
                </div>
            </div>
        </div>
        <div class="contenedorPago">
            juan
        </div>
    </div>
</div>