
<div style="min-height: 100vh; background-color: rgb(207, 207, 207);">
    <div style="display: flex;">
        <div style="width: 15%;">
            <app-barra-sistema></app-barra-sistema>
        </div>
        <div style="width: 85%; text-align: center;" class="panel-body">
            <h2>Editoriales</h2>
            <div class="row" class="botons">
                <button class="btn btn-primary" (click)="abrirModalAgregarEditorial()">Agregar Editorial <i class="fa fa-plus"></i></button>
                <button class="btn btn-primary" (click)="desHabilitarEditorial()">Inhabilitar Autor <i class="fa fa-ban"></i></button>
                <button class="btn btn-primary" (click)="habilitarEditorial()">Habilitar Editorial <i class="fa fa-check"></i></button>
            </div>
            <div style="width: 95%; margin-top: 1%;">
                <div class="row">
                    <table class="table table-bordered table-striped mb-none" id="tablaEditoriales">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Editorial</th>
                                <th>Activo</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Libro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Nombre: </label>
                        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" (click)="agregarEditorial()"><i class="fa fa-plus"></i> Guardar Informacion</button>
            </div>
        </div>
    </div>
</div>
