<div class="row contenedorLibro">
    <div class="col-md-3">
        <img [src]="libro[6]" [alt]="'Imagen ' + libro[2]" style="max-height: 150px; border-radius: 10px;">
    </div>
    <div class="col-md-9 datosLibro">
        <h3>{{libro[2]}}</h3>
        <div>
            <input type="number" [max]="libro[8]" [min]="1" [(ngModel)]="cantidad" (change)="comprobarNuevaCantidad()">
            <button class="btn" (click)="eliminar()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
        <h5 id="'totalLibro' + libro[0]">${{total | number:'1.2-2'}}</h5>
    </div>
</div> 
