<div class="row contenedorLibro" style="width: fit-content;">
    <div class="col-md-3">
        <img [src]="libro[6]" [alt]="'Imagen ' + libro[2]" style="max-height: 150px; border-radius: 10px;">
    </div>
    <div class="col-md-9">
        <h3>{{libro[2]}}</h3>
        <input type="number" [max]="libro[8]" [min]="1" [(ngModel)]="cantidad" (change)="actualizarValor()">
        <h5 id="'totalLibro' + libro[0]">${{total}}</h5>
        <!-- <button class="btn btn-secundary" (click)="verDetallesLibro()"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalles</button> -->
    </div>
</div> 
