input {
    border-radius: 5px;
    width: 50px;
    max-height: 70px;
    min-width: 40px;
}

.contenedorLibro {
    width: auto;
    max-width: 500px;
    margin-top: 25px;
}

.datosLibro {
    text-align: right;

}