
<div style="min-height: 100vh; background-color: rgb(207, 207, 207);">
    <div style="display: flex;">
        <div style="width: 15%;">
            <app-barra-sistema></app-barra-sistema>
        </div>
        <div style="width: 85%; text-align: center;" class="panel-body">
            <h2>Empleados  </h2>
            <div class="row" class="botons">
                <button class="btn btn-primary" (click)="abrirModalAgregarEmpleado()">Agregar Empleado <i class="fa fa-plus"></i></button>
                <button class="btn btn-primary" (click)="desHabilitarEmpleado()">Inhabilitar Empleado <i class="fa fa-ban"></i></button>
                <button class="btn btn-primary" (click)="habilitarEmpleado()">Habilitar Empleado <i class="fa fa-check"></i></button>
            </div>
            <div style="width: 95%; margin-top: 1%;">
                <div class="row">
                    <table class="table table-bordered table-striped mb-none" id="tablaEmpleados">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Empleado</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Fecha Nacimiento</th>
                                <th>Fecha Registro</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Empleado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Nombre(s): </label>
                        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Apellido Paterno: </label>
                        <input type="text" class="form-control" placeholder="Apellido Paterno" [(ngModel)]="apellidoPaterno">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Apellido Materno: </label>
                        <input type="text" class="form-control" placeholder="Apellido Materno" [(ngModel)]="apellidoMaterno">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Telefono: </label>
                        <input type="number" class="form-control" id="inputTelefono" placeholder="6681939669" [(ngModel)]="telefono">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Fecha Nacimiento: </label>
                        <input type="text" class="form-control" id="inputFechaNacimiento" placeholder="02/07/2003" [(ngModel)]="fechaNacimiento">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Correo Electronico: </label>
                        <input type="email" class="form-control" id="correo" placeholder="name@example.com" [(ngModel)]="correoEmpleado">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Contraseña: </label>
                        <input type="text" class="form-control" id="contraseña" placeholder="Contraseña" [(ngModel)]="contraEmpleado">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" (click)="agregarEmpleado()"><i class="fa fa-plus"></i> Guardar Empleado</button>
            </div>
        </div>
    </div>
</div>
 