<div>
    <h3 id="h2Filtros">Filtro Género </h3>
    <button id="eliminarFiltro" class="btn btn-primary" (click)="limpiarFiltros()">Limpiar Filtros <i class="fa fa-ban"></i></button>
    <ul id="listaFiltros" style="padding-top: 10px;">
        @for(genero of generos; track genero[0]) {
            @if(genero[2] > 0) {
                <li class="elementoListaFiltro" (click)="lineaCheckboc('genero' + genero[0])">
                    <input type="checkbox" [name]="nameCheckbox" [value]="genero[0]" [id]="'genero' + genero[0]">
                    <h5>{{genero[1]}}</h5>
                </li>
            }
        }
    </ul>
</div>
