.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Coloca los elementos en una columna */
}
  
.barra-usuario {
    width: 100%; /* La barra ocupa todo el ancho */
    height: 50px; /* Puedes ajustar la altura según sea necesario */
    background-color: #f0f0f0; /* Solo un color de ejemplo */
}
  
.filtro-genero {
    width: fit-content; /* El filtro ocupa el 15% del ancho */
    background-color: #3f7892; /* Solo un color de ejemplo */
    position: absolute;
    top: 50px; /* Justo debajo de la barra */
    left: 0;
    margin-top: 10px;
    border-radius: 10px;
}

.contenedorLibros {
    margin-left: 17%;
    margin-top: 10px;
    width: auto;
    overflow-x: hidden;
    display: inline-block;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.contenedorLibros2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}

.libros {
    width: 300px;
    max-width: 300px;
}